/* Style Sheet */

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.side-image {
  width: 33%;
  background-image: url(files/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
}
